.card{
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 300px;
}
.img{
    width: 400px;
    border-radius: 15px;
}
.name{
    font-weight: bold;
}
.price{
    color: green;
}